/* Universal styling for the webpage */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}

body {
    background-image: url('../images/cyberBG.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(0, 0, 0);
    
}

.box {
    padding-left: 30px;
    padding-top: 15px;
    width: 90%;
    max-width: 700px;
    border-radius: 2%;
    color: rgb(255, 255, 255);
    height: 390px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -350px;    

}
.viewScores{
    padding: 5px;
    margin: 15px;
    font-size: medium;
}

#time{ 
    position: absolute; 
    padding: 5px;
    top: 12px;
    right: 40px;
    /* background-color: rgb(0, 0, 0); */
    font-size: x-large;
    color: rgb(255, 255, 255);
    /* background-color: rgb(255, 255, 255); */
}

.hide {
    display: none;
.block{
    display: block;
}
}

.buttons{
    padding: 6px 50px;
    
    margin: 15px;
    font-size: large;
    color: aliceblue;
    background-color: rgb(209, 114, 145);
    transition: box-shadow 0.4s ease;

}
.buttons:hover{
    box-shadow: 0px 3px 4px 0px rgba(210, 57, 187, 0.7),
                1px 3px 6px 0px rgba(210, 57, 187, 0.7),
                2px 5px 10px 0px rgba(210, 57, 187, 0.7),
                2px 5px 18px 0px rgba(210, 57, 187, 0.7);
}
.description {
    font-size: 23px;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}
.choices{
    display: inline-grid;
}
/* }
#choiceButton {
    margin: 12px; 
    padding: 10px 20px;
    border: 20px;
    font-size: medium;
    color: aliceblue;
    border-radius: 10%;
    background-color: rgb(202, 163, 181);
    transition: box-shadow 0.5s ease;
}

#choiceButton:hover{
    
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 

    box-shadow: 0px 3px 4px 0px rgba(210, 57, 187, 0.7),
                1px 3px 6px 0px rgba(210, 57, 187, 0.7),
                2px 5px 10px 0px rgba(210, 57, 187, 0.7),
                2px 5px 18px 0px rgba(210, 57, 187, 0.7); */



.ansCheck{
    display: block;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 35px;
    font-weight: 300;
    color: black;
}

#startScreen {
    text-align: center;
    font-size: 40px;

}

.question {
    padding-top: 8px;
    padding-left: 4px;
}

.submitSec {
    text-align: center;
    /* padding: 20px auto; */
    margin-left: 10px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 35px;
    font-weight: 300;
}
#highScoreSec{
    display: none;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 35px;
    font-weight: 300;
}




  
@media only screen and (max-width: 769px) {

    main {
        margin-left:50px;
        margin-right:50px;
    }
  }

@media only screen and (max-width: 481px) {
    main {
        margin-left:12px;
        margin-right:12px;
    }
    
}
